.DS_Store
.env
.venv/
venv/
env/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

logs/
oscilloscope_backend/logs/
*.log
oscilloscope_backend/hantek/HTHardDll.dll

desktop/oscilloscope-desktop-main/node_modules/
desktop/oscilloscope-desktop-main/.env
desktop/oscilloscope-desktop-main/dist/
desktop/oscilloscope-desktop-main/dist-electron/

.vercel/
